.border {
    border: red solid 2px;
}

.contact {
    background-color: black;
}

.template {
    /*margin: 0 100px;*/
}

.link {
    background-color: white;
    border-radius: 6px;
    padding: 3px;
    color: red;
}

.date {
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 3px;
}

.headerLinks {
    overflow-x: auto;
}
.header {
    font-size: 13px;
    display: grid;
}
.headerLabel {
    justify-content: center;
}

.paragraph {
    text-align: justify;
    text-indent: 45px;
}
.section {
    margin: 0 15em;
    text-align: justify;
}
@media screen and (max-width: 1400px) {
    .section {
        margin: 0 12em;
    }
}
@media screen and (max-width: 1200px) {
    .section {
        margin: 0 10em;
    }
}
@media screen and (max-width: 1000px) {
    .section {
        margin: 0 8em;
    }
}
@media screen and (max-width: 851px) {
    .section {
        margin: 0 6em;
    }
    .headerLabel {
        height: 50px;
    }
    /*.headerLinks {*/
    /*    width: 100%;*/
    /*}*/
}
@media screen and (max-width: 600px) {
    .section {
        margin: 0 4em;
    }
    .headerLabel {
        height: 50px;
    }
}
@media screen and (max-width: 500px) {
    .section {
        margin: 0 1em;
    }
}
@media screen and (max-width: 400px) {
    .section {
        margin: 0;
    }
}
